{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">   
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
            </div>
            <h2 class="article-title" href="#">{{ object.title }}</h2> <!-- Use object.title to access the post title -->
            <p class="article-content">{{ object.content }}</p>   
        </div>
        <div style="position: absolute; bottom: 0; right: 0;" class="m-3">
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update Post</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete Post</a>
        </div>
    </article>
{% endblock content %}
